// COLOURS
$black: #000000;
$main-blue: #3D5BFF;
$light-blue: #E9EDFF;
$dark-blue: #0C195C;
$orange: #E39C12;
$red: #E32512;
$green: #5ACA4E;
$text-secondary: #9A9A9A;
$grey-light: #E5E5E5;
$white: #FFFFFF;

// FONT SIZE
$tiny-font: 0.6rem;
$small-font: 0.8rem;
$default-font: 1rem;
$large-font: 1.2rem;
$title-font: 1.8rem;

// SIZE
$border-radius: 10px;
$topbar-height: 75px;